:root {
--yellow: #b08401;
--pink: #D49E8D;
--tan: #ded1bd;
--white: #faf6f2;
--brown: #683b2b;
}


* {
color: var(--brown);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
background-color: var(--tan);
}



hr {
    border: 5px solid var(--yellow);
}

.section-header {
    font-size:36px;
}

.header {
background-color: var(--pink);
display: flex;
flex-wrap:wrap;
justify-content: space-around;
}

.header h1 {
font-size: 74px;
background-color: var(--pink);
margin-top: 75px;
}

header li {
list-style: none;
font-size: 40px;
padding: 5px;
background-color: var(--pink);
}

nav {
    background-color: var(--pink);
}

 
.header a {
padding-top: 15px;
margin-right: 20px;
background-color: var(--pink); 
display: inline-block;
text-decoration: none;
}

.header a:hover{
    font-size: larger;
    font-style: oblique;
}

h2 {
padding: 5px;
color: var(--yellow);
background-color: var(--tan);
font-size: 40px;
text-align: center;
margin: 0;
}

#about-me {

justify-content: space-around;
background-color: var(--brown);
padding: 80px;
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
/* margin:10px; */
}

#about-me img{
height: 376px;
width: 491px;
border: 10px solid var(--yellow);
}

#about-me p {
height: 350px;
width: 500px;
font-size: 22px;
color: var(--pink);
background-color: var(--brown);
}


.projects-container  {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    background-color: var(--tan);
    padding: 40px;
    /* flex-direction: column; */
   justify-content: center;
   text-align: center;
    }


  #horiseon {
    width: 95%;
    /* margin:10px */
    }



#project3,
#project4,
#project5 {
    /* height: 15%; */
    width: 75%;
    padding:10px
}

#prework {
   width: 70%;
    padding:10px
} 

.projects-container span {
    font-size: 24px;
}





/* #horiseon:hover { */
    /* filter: blur(5px); */
    
    
/* } */



#contact {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    padding: 75px;
    align-items: center;
    
}

#contact h4 {
    font-size: 30px;
}

#contact a {
    background-color: var(--yellow);
    font-size: 30px;
}

#contact a:hover {
font-size: 50px;
font-style: oblique;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .projects-container {
        flex-wrap:wrap;
    }

    #horiseon {
        width:50%;
    }

    #project3,
    #project4,
    #project5 {
    width: 40%;
    padding:10px
}
    #prework {
    width: 45%;
     padding:10px
 } 
 

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .projects-container {
     flex-wrap:wrap;  
    }
    #horiseon {
        width:50%;
    }

    #project3,
    #project4,
    #project5 {
    width: 40%;
    padding:10px
}
    #prework {
    width: 45%;
     padding:10px
 } 
 
}

@media only screen and (max-width: 1185px) {
    .projects-container {
    flex-wrap:wrap;  
   }
   #horiseon {
    width:50%;
}

#project3,
#project4,
#project5 {
width: 40%;
padding:10px
}
#prework {
width: 45%;
 padding:10px
} 

}