* {
color: #291109;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
background-color: #DED1BD;
}

:root {
--yellow: #b08401;
--pink: #D49E8D;
--tan: #ded1bd;
--white: #faf6f2;
--brown: #683b2b;
}


header {
background-color: var(--pink);
margin-bottom: 50px;
}

header h1 {
font-size: 74px;
list-style: none;
display: inline-block;
background-color: var(--pink);
}
 
header nav {
padding-top: 15px;
margin-right: 20px;
float: right; 
background-color: var(--yellow);
      
}

nav ul li {
list-style-type: none; 
display: inline-block;     
background-color: var(--pink); 
}

h2 {
padding: 5px;
}

.about-me {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.about-me img{
height: 376px;
width: 491px;
border: 10px;
}

.about-me p {
height: 200px;
width: 400px;
font-size: 24px;

}

.projects {
position:relative;
text-align: center;
color:
}

#horiseon {
height: 500px;
width: 400px;
filter: grayscale(0%);
border-radius: 5px;
border-color: var(--yellow)
}

#horiseon:hover {
    filter: grayscale(100%);
}

.projects div {

}